body{
    background-image: url("bg.jpg"); 
    background: linear-gradient(220deg,#180000,#1c0011 15%,#210126 36%,#0d0125 75%);
    color: #fff;
    letter-spacing: .02rem;
    background-repeat: no-repeat;
  }
.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    
  }
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    color:White;
    margin-top: 12px;
  }
.heading{
    top: 150px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 120px;
    line-height: 146px;
    color: #0E87C1;
}
.contact{
    width: 800px;
    top: 150px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    line-height: 146px;
    color: #0E87C1;
}
.content{
    width: 800px;
    top: 586px;
    height: 170px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
    /* or 150% */
    color: rgba(255, 255, 255, 0.8);
}
.cont{
    width: 695px;
    top: 586px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 45px;
    /* or 150% */
    color: rgba(255, 255, 255, 0.8);
}
.content1{
    height:300px ;
    width: 800px;
    top: 782px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    /* or 150% */

    color: #0E87C1;
}
.button{
    height: 50px;
    border-radius: 50px;
    width: 322px;
    background-color: #e600ac;
    color: white;
}
hr.new4 {
    border: 1px solid #0E87C1;
  }
.fa-linkedin {
    background: #007bb5;
    color: white;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
  }
input{
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(254,254,254,.6);
    color: rgba(255,255,255,.8);
    outline: none;
    padding: 0.6rem 0;
    width: 42%;
}
textarea{
    background: transparent;
    border: 1px solid rgba(254,254,254,.6);
    box-sizing: border-box;
    color: rgba(255,255,255,.8);
    margin-top: 1.3rem;
    outline: none;
    padding: 1rem;
    resize: none;
    width: 42%;
}
